/* Variables */
:root {
    --header-bg-color: #cfd8dc;
    --page-bg-color: #f5f5f5;
    --nav-link-color: #0d47a1;
    --project-card-bg-color: #fff;
    --running-text-size: 20px;
    --link-icon-size: 25px;
}


/* Misc */
* {
    /* outline: 1px solid red; */
    padding: 0;
    margin: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: var(--page-bg-color);
}
main {
    margin: 1rem 5rem;
}
p:last-of-type, .project p, .about-information > p {
    margin-bottom: 1rem;
}
.italic {
    font-style: italic;
}
section {
    margin-bottom: 2rem;
}


/* Headings */
.heading {
    font-family: Consolas, 'Courier New', monospace;
    margin-bottom: 0.3rem;
}
h2 {
    font-size: 2rem;
}


/* Navbar */
header {
    position: sticky;
    top: 0;
    z-index: 5000;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--header-bg-color);
}
nav ul {
    display: flex;
    list-style: none;
}
nav li {
    padding-left: 1rem;
}
nav a {
    text-decoration: none;
    color: var(--nav-link-color);
}


/* Icons */
.icon {
    display: flex;
    align-items: center;
    gap: 8px;
}
.icon > img {
    height: var(--running-text-size);
    aspect-ratio: 1;
}


/* Images */
.img-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;

}
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 4px;
}
.intro-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 100%;
}


/* Introduction */
.intro-container {
    display: flex;
}
.intro-information {
    max-width: 50%;
}


/* Technologies */
.technologies.partial, .technologies.full {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
}
.technology-container {
    width: 150px;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px 25px;
}
.technology-container > .heading {
    text-align: center;
}
.technology-container > .icon, .technologies > .icon, .link-container > .link {
    margin-top: 5%;
}

.technologies.full > .technology-container {
    height: 200px;
}


/* Projects */
.project-container {
    display: flex;
    gap: 1rem;
    margin: 10px 20px;
    padding-bottom: 10px;
}
.project-name {
    margin: 0;
    background: var(--header-bg-color);
    padding: 5px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}
.project, .technology-container {
    margin-bottom: 1rem;
    background: var(--project-card-bg-color);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.project-information {
    max-width: 50%;
}
.project-information > div {
    margin-bottom: 2rem;
}
.other-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.other-information .heading {
    text-align: center;
}
.icon.link > img {
    height: var(--link-icon-size);
}
.icon.link {
    margin-right: 1rem;
}
.collaborators {
    display: flex;
    flex-direction: column;
}


/* Media queries */
@media only screen and (max-width: 1000px) {
    .project-container {
        flex-direction: column-reverse;
    }
    .project-information {
        max-width: 100%;
    }
    .intro-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .intro-information {
        max-width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    nav {
      flex-direction: column;
    }
    nav ul {
      flex-direction: column;
      padding-top: 0.5rem;
    }
    nav li {
      padding: 0.5rem 0;
    }
    main {
        margin: 0.5rem 1rem;
    }
}

